
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
*
{ 
    margin: 0;
    padding: 0;

    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

/* universal usage */
:root{
    --bgOrange:#e84949;
    overflow-x: hidden;
    --primary:rgb(255, 255, 255);
    --secondory:#292929;
}

.container
{
    max-width: 1200px;
    margin: 0px auto;
}
.navbar
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 1rem;
}

.dark-theme
{ 
   padding-left: 1rem;
    cursor: pointer;
    font-size: 25px;   
}


.dark-mode {
    background-color: rgba(189, 195, 199);
 }


 
.image
{
    width: 76px;
    z-index: -1;
    margin-bottom: -15px;
}

.name
{
    display: flex;
    align-items: end;

}

.logo-text
{  
    font-size: 31px;
    margin-left: -8px;
    font-weight: 200;
}

.nav-context
{
    display:flex;
    gap: 2rem;
   
}
.nav-context a
{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-context a:hover
{
       font-weight:bold;
       transition: 0.8s;
}

.button
{
    padding: 0.8rem 2.3rem;
    display: inline-block;
    background-color: #e84949;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: fit-content;

}

.button::before
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    transform: scaleY(0);
    transition: 0.5s; 
    z-index :-1;
}

.button:hover::before
{
   
    transform: scaleY(1);
}

.hero-section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.absolute
{
position:absolute ;
}
  
.faded-text
{
 
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    z-index: -0;
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left
{
    display: flex;
    gap: 2rem;
   flex-direction: column;
   justify-content: center;
   
}

.hero-section-heading
{
font-size: 35px;
color: #343d68;
font-weight: 500;
}

.role
{
   color: #4e45d5;
   font-weight: 800;
}
.hero-section-sub-heading
{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description
{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.hero-section-right
{
    position: relative;
}



.hero-section .user-image 
{
    padding: 2.5rem;
    transition: all 1s;
    filter: grayscale(1);
    animation: scaleimage 5s linear infinite;
}
.user-image img
{
    z-index: -9;
}

@keyframes scaleimage 
{

    0%
    {
            filter: grayscale(0);
            transform: scale(1);
    }

    50%
    { 
        filter: grayscale(1);
        transform: scale(1.2);
        box-shadow: 3px 3px 10px black;

    }

    100%
    {
        filter: grayscale(0);
        transform: scale(1);

    }
}

.dots
   
{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    position: absolute;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   
}

@keyframes dotsAnimation {

    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-15px);
    }
    
    100%
    {
        transform: translateY(0px);
    }
    
}

.cube 
{
    position: absolute;
    top: -1.8em;
    right: -2em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {
    0%
    {
        transform: rotateY(0deg) translateY(0px);
    }

    50%
    {
        transform: rotateY(180deg)translateY(-12px);
    }
    
    100%
    {
        transform: rotateY(360deg)translateY(0px);
    }
    
}

.circle
{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: shakeEffect 6s linear infinite;
}

@keyframes shake 
{
   

    50%
    {
       left: 5%;
       bottom: 10%;
    }
    
   
}

.zigzag{
    position: absolute;
    z-index: 10;
    top: -1.5em;
    left: -2.3em;
    animation: zigzakAnimation 5s ease-in infinite;
   
}

@keyframes zigzakAnimation 
{
    50%
    {
    left: 5%;
    bottom: 2%;
    }
}
.plus
{
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
    position: absolute;
}
@keyframes shakeEffectPlus 
{

    50%
    {
        top: 3%;
        left: 48%;

    }
}

.project-section
{
    margin-top: 4rem;
    background-color: rgb(231, 231, 231);
}

.project-header
{
    color:var(--bgOrange);
    text-align: center;
    padding-top: 30px;
    font-size:90px ;
}

.project-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;

}

.project-card
{   
    width: 90%;
    height: 550px;
    background-size: cover;
    background-image:url(b5.avif);   
    background-size: 100% 550px; 
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

project-card
{
    content: "";
    color: black;
    position: absolute;
    background: #1f1f1f9a;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(1);

}

    .project-card::before {
        content: "";
        color: #fff;
        position: absolute;
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.4s;
    }


    .project-card:hover::before  
    {
        transform: scaleX(1);
        background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .project-number
    {
        position: absolute;
        font-size: 200px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        z-index: 10;
        transition-delay: 1s;
        transition: transform 2s;
        opacity: 0;
    }

    .project-card:hover .project-number  
    {
        transition: 0.8s;
        opacity: 1;

    }
    .project-number-right
    {
        right: -40px;
        top:-45px;
        
    }
    .project-number-left
    {
        left: -40px;
        top:-45px;
        
    }

 .project-content
{
    display: flex;
    position: absolute;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: 0.4s;
} 


.project-content-left
{
    left: 10%;
}
.project-content-right
{ right: 10%;
}
   


.project-skills-container
{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill
{
    width: 40px;
}

.project-heading
{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-text
{
    font-size: 16px;
    width: 70%;
    font-style: italic;
}

 .btn-grp
{
display: flex;
gap: 0.9rem;
align-items: center;
cursor: pointer;
}

.icon
{
    cursor: pointer;
    color: white;
    font-size: 35px;
    
}

.icon:hover
{
    color:var(--bgOrange);
}
 
.project-card:hover .project-content
{
 transform: scale(1.1); 
 transition: 0.8s;  
}

#project2
{
    margin-left: 120px;
    background-image: url(fries.avif);
    background-size: cover;
}

#project3
{
    background-image: url(snow.png);
    background-size: cover;
    
}

#project3 .project-heading 

{ 
    color: #1f1f1f;
}
.special-text {
    color: black ;
  }
  

#project4
{
    margin-left: 120px;
    background-image: url(blog.png);
    background-size: cover;
}

@media (max-width:1300px)
{
    .project-header{
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 40px;
    }
    .project-container {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }
    .project-card {
        background-size: cover;
        background-position: center;
    }
    .project-card {
        width: 100%;
        height: 300px;
    }
    .project-content {
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .project-content
    {
        left: 0;
    }
    .project-heading {
        font-size: 40px;
        width: 100%;
    }
    .project-text
    {
        width:100%
    } 
    #project2
    {
        margin-left: 0;
    }
    #project4
    {
        margin-left: 0;
    }
    .project-skills-container
    {
        width: 100%;
    }
    .project-skill
    {
        width: 35px;
    }
    .project-card:hover .project-number
    {
        display: none;
    }
    .project-card:hover .project-content
    {
        scale: 0.55;
    }

}


.skills-container 
{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
 }

 .skill-container-left 
 {

    display: flex;
    flex-direction: column;
    width: 50%;
        
}

.skill-container-right 
{
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}


.skill-fade-text
 {
    position: absolute;
    font-size: 8em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    bottom: -4.5%;
    overflow-y: hidden;
    right: -4%;
    user-select: none;
    overflow-y: hidden;
   
}


.blob-style
 {
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    /* the below line mens the blob is place at center of its parent element */
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate 
{
    50%
    {
        top: 54%;
        bottom: 46%;
    }
    
}

.skills-logo {
    width: 90px;
    transition: all 0.5s;
}

.skills-logo:hover
{
    transform: scale(1.2);
}

.skill-heading
{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
    position: relative;
    z-index: -9;
}

.caps
{
    font-size: 80px;
}

.skill-subHeading
{
    margin-top:1rem;
    width: 85%;
    text-align: justify;
}

.skill-subHeading p
{
    margin: 15px 0;
}


/* contact us */
.contactus-container {
    width: 100%;
    background-color: rgba(189, 195, 199);
 }
    


.container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 154px;
}

.contactus-heading {
    padding-top: 2rem;
    font-size: 5em;
    color: var(--bgOrange);
}

.contactus-sub-heading {
    font-size: 3rem;
    text-transform: capitalize;
    color: #343d68aa;
}

.contactus-form-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}
.formfield-container {
    width: 100%;
}
.formfield-textarea {
    height: 200px; 
    padding-top: 1rem;
}


.formfield {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
}


#submit-btn {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}


/* Footer */


footer {
    position: relative;
    margin-top: -1px;
    background: #343d68;
    padding-top: 5rem;
    padding-bottom: 0rem;
    padding: 5rem;
}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.footer-faded-text {
    font-size: 5em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.icon-wrapper {
    display: flex;
    gap: 1rem;
}


